@model string

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
</head>

<h3 class="mt-5">Server side rendering</h3>
<div class="alert alert-primary" role="alert">
    Subject ID = @Model
</div>
